<div class="nav">
  <div class="nav-selected">Choose day</div>
  <div class="nav-links">
    <span class="top-nav-bar">
      <a href="/{{city}}/{{day}}">Friday</a>
      <a href="/{{city}}/{{day}}">Saturday</a>
      <a href="/{{city}}/{{day}}">Sunday</a>
    </span>  
</div>
