// this is where we would land after click into a city
{{!-- /*{{> locationsNav}}*? --}}

<h2 class="page-header">Locations:</h2>

<div class = "feature">
    {{#each events}}
//if {{feature}} == TRUE then display
    {{/each}}
</div>

<div class="locations-section">
{{#each events}}
  <div class="locations-item">
    <a href="/events/{{id}}" class="locations-item-name">{{name}}</a>
    <p class="text-gray-500">{{description}}</p>
    <p class="hello">{{day}}</p>
    <p class="hello">{{time}}</p>
    <p class="hello">{{date}}</p>

/// need if statement for if featured then....
    <p class="hello"> {{feature}}</p>

    {{!-- <span class="locations-edit-link"><a href="/locations/{{id}}/edit">Edit Location</a></span> --}}
  </div>
{{/each}}
</div>