

<title>{{city}}</title>

{{> lineUpNavDay}}


<title>What's on in {{city}}</title>
<div>
    <h1>
    <nav class = "navigation">
    <section class = "container">
  {{!-- <ul class = "navigation-list float-right"> --}}
{{#each events}}
 <p>{{city}}</p>
    <li class = "navigation-item">Event name: {{eventName}}</li>
    <li class = "navigation-item">Time: {{time}}</li>
    <li class = "navigation-item">Venue: {{venueName}}</li>
    <li>Description: {{description}}</li>
   
</ul>
{{/each}}
</section>
</nav>
</div></h1>
