
<title>{{city}}</title>

{{> lineUpNavDay}}

<div>
  <img  class = "feature-image" src="{{image}}" alt="Feature band for the day">
</div>

<div>
  <ul class = "text">
{{#each events}}
<li>Event name: {{eventsName}}</li>
<li>Time: {{time}}</li>
<li>Venue: {{venuesName}}</li>
<li>Description: {{eventDescription}}</li>
</ul>
{{/each}}

</div>
